#container, footer {
	width: 960px;
	margin: 0 auto;
}

* {
	margin:0;
}

body {
	color: #363636;
	background-image: url(../images/flooring.jpg);
	font-family: 'Open Sans', sans-serif;
}

h3 {
	padding-top: 15px;
	padding-bottom: 5px;
	font-size: 20px;
}

h1 {
	padding-top: 0px;
	margin-bottom: 0px;
	font-size: 37px;
	color: #DD4832;
} 

h2 {
	font-weight: normal;
	font-size: 31px;
}

h2, h3 {
	text-shadow: 0 1px 1px rgba(230, 230, 230, .8);
	color: #734414;
}

#container {
        margin: 0 auto -30px;
	background: url(../images/background.png);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	padding: 0 10px;

}

#content {
	clear: both;
	padding-bottom: 40px;
}

footer, .push {
	height: 30px;
}

footer { 
	color: #a07070;
	font-size: 12px;
	text-align: right;
}

header {
	margin-top: 20px;
	height: 150px;
}

#who {
	float: left;
	margin-bottom: 30px;
	margin-top: 5px;
	padding: 20px;
	text-align: center;
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	background: url(../images/background.png);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
}
h1, h2 {
	font-family: 'Signika', sans-serif;
}
a {
	color: #363636;
}

a:hover {
	color: #636363;
}

p {
	margin-top: 0px;
	padding-top: 0px;
	text-indent: 20px;
	line-height: 25px;
}
#hello {
	font-size: 20px;
	text-indent: 0px;
	margin-bottom: 5px;
}

#where {
	float: right;
	padding-right: 10px;
	padding-top: 20px;
}

#where a {
	margin: 0px;	
}

#where a {
	text-decoration: none;
}
