#container {
	width: 960px;
	margin: 0 auto;
}

body {
	color: #363636;
}

h1 {
	margin-bottom: 0px;
	font-size: 37px;
} 

h2 {
	margin-top: 0px;
	color:#baafaf;
	font-weight: normal;
	font-size: 31px;
}
h1, h2 {
	font-family: 'Signika', sans-serif;
}
